@{
    string appName = "Advent of Code as a Service";
    string description = "Find solutions for the puzzles of Advent of Code";
    string domain = "aoc.azurewebsites.net";
    string twitterHandle = "@martin_costello";
}
<!DOCTYPE html>
<html lang="en-gb">
<head prefix="og:http://ogp.me/ns#">
    <title>@(appName)</title>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="no-cache, no-store" />
    <meta http-equiv="content-type" content="text/html;" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Martin Costello" />
    <meta name="bitcoin" content="12uKG1MwnApd6uiFQ3VXLxFMNC3Z74Z2NG" />
    <meta name="copyright" content="&copy; Martin Costello @DateTimeOffset.UtcNow.Year" />
    <meta name="description" content="@(description)" />
    <meta name="language" content="en" />
    <meta name="keywords" content="advent,of,code" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="robots" content="INDEX" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="fb:profile_id" content="10100867762061905" />
    <meta property="og:description" content="@(description)" />
    <meta property="og:image" content="https://@(domain)/favicon.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="@(domain)" />
    <meta property="og:title" content="@(appName)" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://@(domain)/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@(twitterHandle)" />
    <meta name="twitter:description" content="@(description)" />
    <meta name="twitter:domain" content="@(domain)" />
    <meta name="twitter:site" content="@(twitterHandle)" />
    <meta name="twitter:title" content="@(appName)" />
    <meta name="twitter:url" content="https://@(domain)/" />
    <meta name="application-name" content="@(appName)" />
    <link rel="manifest" href="~/manifest.webmanifest" />
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com" />
    <link rel="preconnect" href="//stackpath.bootstrapcdn.com" />
    <script type="text/javascript" nonce="@(Context.Items["csp-hash"])">
        if (self == top) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-flash\b/, '');
        }
        else {
            top.location = self.location;
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a id="link-home" class="navbar-brand" href="~/">@(appName)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navbar" aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="site-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="link-aoc" class="nav-link" href="https://adventofcode.com/" rel="noopener" target="_blank" title="Open Advent of Code">Advent of Code</a>
                </li>
                <li class="nav-item">
                    <a id="link-repo" class="nav-link" href="https://github.com/martincostello/adventofcode" rel="noopener" target="_blank" title="View the source code on GitHub">GitHub Repository</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Martin Costello @DateTimeOffset.UtcNow.Year</p>
        </footer>
    </main>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.1/slate/bootstrap.min.css" integrity="sha512-vcxGhXoYp4V+Px82NLfIO/aoZjAXBnkVDNaII83WBgEe5bfPGD1wgUu9Av3+IzTh3ilPiEie5Zc21hrk84oBUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="~/static/js/main.js"></script>
</body>
<!--
    Deployment:    https://github.com/martincostello/adventofcode/actions/runs/@(GitMetadata.DeployId)
    Commit SHA:    @(GitMetadata.Commit)
    Commit branch: @(GitMetadata.Branch)
    Timestamp:     @(GitMetadata.Timestamp)
    Version:       @(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)
-->
</html>
